{% extends 'base.html.twig' %}

{% block title %}Hello AboutusController!{% endblock %}

{% block body %}
    <div class="container py-4">
        <div class="p-5 mb-4 bg-body-tertiary rounded-3">
            <h1 class="display-5 fw-bold">Pôle Epitech</h1>
            <hr>
            <br>
            <p class="fs-4">Le FC Chômage? C'est finis. On en fait l’expérience chaque jour : le monde est en perpétuel mouvement. Tout, partout, tout le temps, change. Du fait de nouvelles connaissances, idées, sensibilités, ou technologies, nos manières d’être, d’avoir, de penser, de vivre, de communiquer se modifient sans cesse. Et de travailler ?</p>
            <p>C’est une évidence : nos aspirations et nos exigences vis-à-vis du travail ont changé. Exit le “parce qu’il faut bien travailler”, le sacrifice de la vie perso pour la vie pro, les rythmes de travail trop rigides : aujourd’hui, les candidats et les actifs en poste veulent rejoindre une mission qui leur tient à cœur, et leur apporte excitation et épanouissement. Idem pour les entreprises : terminée l’ère du recrutement passif et standardisé. L’heure est d’attirer les talents qui leur correspondent vraiment, avec qui nouer une relation positive sur le long terme. Des deux côtés, l’envie d’un mieux est là. Le travail est à réinventer ? Mission acceptée !</p>
            <p>Un autre travail est possible, un travail durablement excitant et vertueux, qui prend soin des personnes comme du monde. Un travail qui réconcilie l’entreprise et ceux qui la font. Nous en sommes convaincus, alors nous agissons pour le faire advenir.
                Nous innovons pour que les entreprises et tous les recruteurs révèlent leur culture unique, puissent écouter les désirs de leurs actuels et futurs employés, et tissent des relations plus durables, plus sincères, plus humaines avec eux. Pour ces derniers qui cherchent une nouvelle opportunité ou qui s’interrogent sur leur carrière, nous leur permettons d’explorer les différentes voies possibles en leur donnant accès à des milliers d’offres et aux informations clés sur les entreprises qui recrutent. Et nous ne nous arrêtons pas là : dans notre média, nous décryptons les nouvelles tendances et le futur du travail, apportant ainsi notre pierre à l’édifice pour créer un monde du travail plus humain.</p>
            <p>Oui, nous avons de grandes ambitions pour le travail.
                Nous exigeons qu’il nous inspire, nous excite, nous rende libres et fiers,
                qu’il renforce notre capacité à transformer positivement le monde.
                Qu’il occupe une place durable dans nos vies.
                Un peu comme vous, non ? Welcome !</p>
        </div>
        <div>
            <img src="Image/chat.jpg" alt="chat" width="100%" height="20%" loading="lazy">
        </div>
        <div class="row align-items-md-stretch" style="margin-top: 30px">
            <div class="col-md-6">
                <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                    <h2>Co-owner Zeyu Hou</h2>
                    <p>Étudiant passionné en développement web et intelligence artificielle, je suis actuellement à la recherche d'une alternance pour approfondir mes compétences et contribuer activement à des projets innovants.</p>
                    <a href="https://www.zeyu.site/" class="nav-link p-0 text-body-secondary"><button class="btn btn-outline-secondary" type="button" href="">See my portfolio</button></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 text-bg-dark rounded-3" style="padding-right: 0; padding-left: 0">
                    <h2>Co-owner Nathan Han</h2>
                    <p>Curieux, organisé et autonome; j'aime me challenger et apporter de la valeur à ce que je fais.</p>
                    <a href="https://nathanhan.netlify.app/" class="nav-link p-0 text-body-secondary"><button class="btn btn-outline-light" type="button">See my portfolio</button></a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
