{% extends 'base.html.twig' %}

{% block title %}Hello MessageController!{% endblock %}

{% block body %}
    <div class="w-100 bg-light" style="height: 100vh;">
        <h5 class="display-6 position-relative w-100 text-center pt-5 pb-5">Message</h5>
        <div {{ vue_component('MessagesComponent')}}></div>
    </div>

{% endblock %}
